#h-cont{
    display: grid; 
    grid-template-columns: auto 1fr auto; 
    align-content: center; 
    padding: 10px 16px 10px 60px;
}

#h-1{
    justify-self: left;
    align-self: center;
    padding-left: 14px; 
    padding-right: 14px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#h-2{
    align-self: end;
    justify-self: left;
    margin-left: 10px
}

#h-3{
    justify-self: right;
    align-self: end;
}

.btn-outline-danger, .btn-outline-danger:visited, .btn-outline-danger:focus{
    color: #A63D2B;
    border-color: #A63D2B !important;
}

.btn-outline-danger:active, .btn-outline-danger:hover, .btn-outline-danger:visited{
    background-color: #A63D2B !important;
    border-color: #A63D2B !important;
}

h1{ margin-bottom: 0px !important;}

p{ margin: 0px 0px 0px 0px; }

.sp2{
    font-weight: lighter;
    font-size: 20px;
}