.pantalla{
    width: auto;
    height: 81vh;
    display: flex;
    align-items: center;
}

.err{
    margin-left: auto;
    display: flex;
    justify-content: center;
    margin-right: auto; 
    flex-direction: column;          
}

.err_h1{
    color: #800000;
}