.grid_div{
    display: grid;
    justify-items: center;
    align-content: center ;
    grid-template-areas: "head head"
                        "ticket dades";
    grid-template-columns: 800px 450px;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    padding: 20px;
    margin: 50px;
    background-color: #666666;
}

.dades_comanda{
    grid-area: ticket;
    background-color: white;
    width: 60%;
}

.dades_persona{
    background-color: white;
    
}

.head{
    grid-area: head;
    justify-self: center;
}

.form_cont{
    /*margin-left: 140px;*/
    /*margin-right: 140px;*/
    padding: 10px;
}

.form_item{
    margin-bottom: 18px;
    margin-left: 28px;
    margin-right: 28px;
}

.input{
    float: right;
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding-left: 6px;
    outline: none ;
}

.input:focus{
    border-color: #b95645b7;
}

.sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

.btn_submit, .btn_back{
    background-color: #A63D2B;
    transition-duration: 0.3s;
    transition-property: transform;
    border: 1px solid #A63D2B
}

.btn_back:hover, .btn_back:active, .btn_back:focus, .btn_submit:hover, .btn_submit:active, .btn_submit:focus{
    transform: scale(1.05);
}