.grid_div {
    display: grid;
    grid-template-areas: "head head" "ticket dades";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    padding: 20px;
    place-items: stretch center;
    margin: 61px;
    align-content: stretch;
}

body {
    background-image: url("../img/fondo_comanda.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.dades_comanda {
    grid-area: ticket;
    background-image: url("../img/ticket.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-self: end;
    padding: 20px;
    width: 340px;
}

.tit {
    font-family: monospace;
}

.dades_persona {
    background-color: white;
    border-radius: 5px;
    padding: 16px;
    justify-self: start;
}

.head {
    grid-area: head;
    justify-self: center;
    color: white;
}

.form_cont {
    padding: 10px;
}

.form_item {
    margin-bottom: 18px;
    margin-left: 28px;
    margin-right: 28px;
}

.input {
    float: right;
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding-left: 6px;
    outline: none;
}

.input:focus {
    border-color: #A63D2B;
}

.sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
}

.btn_submit,
.btn_back {
    background-color: #A63D2B;
    transition-duration: 0.3s;
    transition-property: transform;
    border: 1px solid #A63D2B;
}

.btn_back:hover,
.btn_back:active,
.btn_back:focus,
.btn_submit:hover,
.btn_submit:active,
.btn_submit:focus {
    transform: scale(1.05);
}

.h2,
h1 {
    text-align: center;
}

.prod {
    font-size: 15px;
}