*{ box-sizing: border-box; }

.slider{
    width: 99.1vw;
    height: 80vh;
    overflow: hidden;
    background: black;
    position: relative;
}

.carousel{
    position: relative;
}

.slider ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
    margin: 0;
    padding: 0;
}

.slider li{
    list-style: none;
}

.foto{
    width: 99.1vw;
    height: 80vh;
    opacity: 90%; 
}

.btn{
    background-color: #A63D2B;
    width: 160px;
    padding: 20px;
    box-shadow: 105px  rgba(0, 0, 0, 0.1) ;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

.admin_btn{
    background-color: #A63D2B;
    width: 100px;
    padding: 10px;
    font-size: 14px;
    box-shadow: 105px  rgba(0, 0, 0, 0.1) ;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

.btn:hover, .btn:active, .btn:focus, .admin_btn:hover, .admin_btn:active, .admin_btn:focus{
    box-shadow: 0 0 10px rgba(128, 46, 32, 0.856);
    transform: scale(1.1);
}

.button{
    margin: 15%;
    padding: 0px;
    height: 0%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

/* Transició carousel */
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

.more{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 50px 100px;
    margin: 50px 100px 50px 100px;
    height: 300px;
}

.menu{
    background-image: url("../img/menu.png");
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 2px;
}

.admin{
    background-color: #E2E3E5;
    display: grid;
    gap: 20px;
    align-items: center;
    grid-template-columns: auto 1fr;
    place-self: center center;
    padding: 20px;
}

.imgg{
    height: 200px;
}

.ad{ height: 100px;}

h3{ margin: 0px 0px 5px 0px; }
