*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    width: 98.9vw;
    height: 60vh;
    overflow: hidden;
    background: black;
    position: relative;
}

.carousel{
    position: relative;
}

.slider ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}

.slider li{
    list-style: none;
}

.foto{
    width: 99vw;
    height: 60vh;
    opacity: 90%; 
}

.button{
    margin: 15%;
    padding: 0px;
    height: 0%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.btn{
    font-family: 'Calibri';
    font-size: 18px;
    font-weight: bold;
    background: #A63D2B;
    width: 160px;
    padding: 20px;
    text-align: center; 
    text-decoration: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 105px  rgba(0, 0, 0, 0.1) ;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

.btn:hover, .btn:active, .btn:focus{
    box-shadow: 0 0 10px  rgba(128, 46, 32, 0.856);
    transform: scale(1.1);
}

.btn:visited{
    color: white;
}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100.2%;}
    45%{margin-left: -100.2%;}
    
    50%{margin-left: -200.2%;}
    70%{margin-left: -200.2%;}
    
    75%{margin-left: -300.3%;}
    100%{margin-left: -300.3%;}
}

.more{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly; 
    margin: 35px;
    margin-bottom: 200px;
    margin-top: 100px;
}

.menu{
    background-image: url("../img/menu.png");
    width: 550px;
    height: 300px;
    text-align: center;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 2px;
 
}

.admin{
    display: flex;
    flex-direction: column;
    background-color: #E2E3E5;
    width: 330px;
    height: 150px;
}

.admin2{
    display: flex;
    align-self: center;
    width: max-content;
}

#admin_btn{
    margin:10px;
    font-family: 'Calibri';
    font-size: 14px;
    font-weight: bold;
    background: #A63D2B;
    width: 120px;
    padding: 10px;
    text-align: center; 
    text-decoration: none;
    color: white;
    border-radius: 8px;
}

.imgg{
    margin: 10px;
}

.admin-button{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}
