*{ box-sizing: border-box; }

.slider{
    width: 98.9vw;
    height: 80vh;
    overflow: hidden;
    background: black;
    position: relative;
}

.carousel{
    position: relative;
}

.slider ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
    margin: 0;
    padding: 0;
}

.slider li{
    list-style: none;
}

.foto{
    width: 99vw;
    height: 80vh;
    opacity: 90%; 
}

.button{
    margin: 15%;
    padding: 0px;
    height: 0%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.btn{
    background-color: #A63D2B;
    width: 160px;
    padding: 20px;
    box-shadow: 105px  rgba(0, 0, 0, 0.1) ;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

.admin_btn{
    background-color: #A63D2B;
    width: 100px;
    padding: 10px;
    font-size: 14px;
    box-shadow: 105px  rgba(0, 0, 0, 0.1) ;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

.btn:hover, .btn:active, .btn:focus, .admin_btn:hover, .admin_btn:active, .admin_btn:focus{
    box-shadow: 0 0 10px rgba(128, 46, 32, 0.856);
    transform: scale(1.1);
}

/* Transició carousel */
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100.2%;}
    45%{margin-left: -100.2%;}
    
    50%{margin-left: -200.2%;}
    70%{margin-left: -200.2%;}
    
    75%{margin-left: -300.3%;}
    100%{margin-left: -300.3%;}
}

.more{
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: auto auto auto;    
    justify-content:space-evenly; 
    margin: 35px;
    margin-bottom: 200px;
    margin-top: 100px;
    margin-left: 250px;
}

.menu{
    background-image: url("../img/menu.png");
    width: 550px;
    height: 300px;
    text-align: center;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 2px;
}

.admin{
    display: flex;
    flex-direction: column;
    background-color: #E2E3E5;
    width: 330px;
    height: 150px;
    margin: auto;
}

.admin2{
    display: flex;
    align-self: center;
    width: max-content;
}

.imgg{
    margin: 10px;
}

.admin-button{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}
