.separate{
    display: grid;
    grid-template-rows: auto auto;
    font-size: 20px;
    justify-content:center;
    margin: 150px
}

body{
    background-image: url("../img/estasi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.tabla{
    justify-content:center;
}

h1{ text-align: center; }

.table{
    padding: 5px 15px 5px 5px;
    border: 1px black solid;
    background: white;
    border-radius: 8px;
}

th{
    padding: 15px;
    text-align: end;
}

td{ text-align: left; }