.pantalla {
    width: auto;
    height: 75vh;
    display: flex;
    text-align: center;
    justify-content: center;
}

.novetats1 {
    color: white;
    background-color: #E2E3E5;
    width: 500px;
    height: auto;
    text-align: center;
    border: 1px black solid;
    background-image: url("../img/pizarra.jpg");
    -webkit-background-size: contain;
    margin: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.novetats2 {
    color: white;
    background-color: #E2E3E5;
    width: 500px;
    height: auto;
    text-align: center;
    border: 1px black solid;
    background-image: url("../img/menu.jpg");
    -webkit-background-size: contain;
    margin: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h2 {
    background-color: black;
}

.btn_back {
    background-color: #A63D2B;
    transition-duration: 0.3s;
    transition-property: transform;
    border: 1px solid #A63D2B;
    margin: 10px 0px 0px 10px;
}

.btn_back:hover,
.btn_back:active,
.btn_back:focus {
    transform: scale(1.05);
}